/* Search.css */

/* Genel stiller */
.searchContainer {
    display: flex;
    align-items: center;
    transition: max-width 0.3s;
    overflow: hidden;
  }
  
  .searchIcon {
    padding: 10px;
    cursor: pointer;
    background-color: #eda415;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 20px;
    display: none; /* Başlangıçta gizli */
  }
  
  .searchContent {
    display: flex;
    align-items: center;
  }
  
  .searchInput {
    padding: 10px;
    border-radius: 15px;
    border: 1px solid #ccc;
    font-size: 14px;
    outline: none;
    width: 225px;
  }
  
  .searchButton {
    padding: 11px 20px;
    border-radius: 15px;
    background-color: #eda415;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    position: relative;
    margin-left: -40px;
  }
  
  .buttonText {
    color: #fff;
    font-size: 14px;
  }
  
  /* Ekran küçüldüğünde görünmez ve genişliği 0 yapar */
  .searchContainer.expanded {
    max-width: 1000px; /* İsteğe bağlı olarak bir genişlik değeri belirleyebilirsiniz */
  }
  
  @media (max-width: 750px) {
    .searchIcon {
      display: flex; /* Ekran küçüldüğünde ikonu göster */
    }
  
    .searchContent {
      display: none; /* Ekran küçüldüğünde içeriği gizle */
    }
  
    .searchContainer.expanded {
      max-width: 1000px; /* İsteğe bağlı olarak bir genişlik değeri belirleyebilirsiniz */
    }
  }
  